= form_for @invoice do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice.errors.count, "error")} prohibited this invoice from being saved:"
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :number
    Фактура номер
  <div class="field" >
  = f.text_field :date, 'data-behaviour' => 'datepicker', placeholder: "Дата на Фактурата"
  </div>

  <script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker({
  weekStart: 1,
  autoclose: true,
  format:'yyyy-mm-dd' ,
  todayHighlight: true
  });
  </script>
  .field
    = f.collection_select(:agreemnt_id, Agreemnt.all.where(closed:[false]),:id,:name,{},{:multiple => false})

    Договор
  .field{:id => "suma"}
    = f.text_field :amount
    Сума без ДДС
  .field{:onclick=>"myFunction()"}
    = f.text_field :text
    Сума Словом

  .field
    = f.collection_select(:manager, @users,:name,:name)
    Съставител
  .actions
    = f.submit 'Запиши',class: 'btn btn-primary btn-xs'
