<p  >
  Д О Г О В О Р <b><%= @agreemnt.name%></b>
</p>

<p  >  Днес
  <b><%= @agreemnt.date.strftime("%d-%m-%Y")%></b>
   г., в град София, между
   <b><%= @agreemnt.client.name%></b>
   (ДРУЖЕСТВОТО), адрес
   <b><%= @agreemnt.client.address%></b>,ИН
   <b><%= @agreemnt.client.eik%></b>, ИН по ЗДДС
   <b><%= "BG"+@agreemnt.client.eik%></b>, представлявано от
   <b><%= @agreemnt.client.manager%></b>, от една страна,
    наречено за краткост ВЪЗЛОЖИТЕЛ</p>

<p  >  и</p>

<p  >от друга страна &ldquo;ПЕТКОВ И ПАРТНЬОРИ&rdquo; ООД, вписано в търговския регистър на Агенция по вписванията,
   по удостоверение № 200811040093418 /04.11.2008 г., ЕИК 200453682, ИН по ЗДДС BG200453682, седалище и адрес на
   управлениe: гр. София 1000 , общ. Витоша,жк.Карпузица,ул. &ldquo;Дамяница&rdquo; № 2, вх. А, ет. 1, ап. 4,
   представлявано от ВАЛЕРИ ИВАНОВ ПЕТКОВ, ЕГН 5612232847, с ЛК № 641415494, издадена на 09.12.2010 г. от МВР &ndash;
   Кюстендил, наричано по-долу за краткост ИЗПЪЛНИТЕЛ, на основание член 280 и следващите от Закона за задълженията и
    договорите се състави настоящият договор за следното:</p>

<p  >&nbsp;</p>

<p  >І. ПРЕДМЕТ НА ДОГОВОРА</p>

<p  >Чл.1. ВЪЗЛОЖИТЕЛЯТ възлага, а ИЗПЪЛНИТЕЛЯТ приема да извърши следната услуга:</p>

<p  >1. Независима проверка /одит/ в съответствие с Международните одиторски стандарти на индивидуалният годишен
  финансов отчет на ВЪЗЛОЖИТЕЛЯ за годината приключваща на 31.12.<%= Date.today.strftime("%Y").to_i%> г. съставен съгласно
  <b><%= @standards%></b> , на български език в хил.лв. Процедурите, които ще бъдат извършени от ИЗПЪЛНИТЕЛЯ, ще бъдат в съответствие
    с Международните одиторски стандарти, както и процедури необходими да посрещнат специфични изисквания, в това число:</p>

<ul>
  <li  >
  <p>Преглед на приложените счетоводни принципи, методика и политика;</p>
  </li>
  <li  >
  <p>Проверка на оповестяването на счетоводната информация и установяване степента, в която тази информация отговаря на изискванията на нормативната уредба и приложимите счетоводни стандарти;</p>
  </li>
  <li  >
  <p>Проверка на отчитането на стопанските операции и свързаните с тях активи, пасиви, приходи и разходи, както и правилното им отразяване при изготвянето на финансовите отчети;</p>
  </li>
  <li  >
  <p>Проверка на избрани операции за спазване принципа на документална обоснованост при тяхното отчитане;</p>
  </li>
  <li  >
  <p>Тестове за съществуването, собствеността и отчетната стойност на избрани активи;</p>
  </li>
  <li  >
  <p>Тестове за достоверност, условията и отчетната стойност на избрани пасиви;</p>
  </li>
  <li  >
  <p>Потвърждения на разчети с избрани трети страни (банки, клиенти, доставчици, вътрешни разчети, разчети с бюджета),
     както и друга свързана с тях информация;</p>
  </li>
  <li  >
  <p>Документи, представени от юрисконсулти/адвокати или други експерти по въпроси, изискващи експертно мнение,
    както и документи, представени от Ръководството на предприятието.</p>
  </li>
</ul>

<p  >Тестовете, прилагани при изпълнението на процедурите, ще се различават по вид и степен, съобразно
  оценката за надеждността на вътрешния контрол, нивото на същественост и степента на риск по отношение
  на проверяваните елементи от финансовите отчети.</p>

<p  >2. Представяне на резултатите от независимата проверка в одиторски доклад, съдържащ мнение относно достоверността
   на индивидуалния годишен финансов отчет и финансовото състояние на предприятието, съгласно изискванията на националното
    счетоводно законодателство.</p>

<p  >3. Извън уговореното в т.1 и т.2 от чл.1 на настоящият договор, ВЪЗЛОЖИТЕЛЯТ може да възлага, а ИЗПЪЛНИТЕЛЯ да извършва и
  други услуги, включени в предмета му на дейност, като всяка допълнителна услуга ще се договаря допълнително чрез подписването
  на Анекс към основният договор.</p>

<p  >4. ИЗПЪЛНИТЕЛЯТ ще планира и извърши одита така, че да се увери, че годишният финансов отчет е верен във всички съществени аспекти
  и че не съдържа съществени погрешни представяния, причинени от измама или друг тип грешка. Поради естеството на измамата и особено
  случаите на укриване и документална измама (включително подправяне), един правилно планиран и проведен одит може да не разкрие
  съществени пропуски. Поради това целта на одита, извършен в съответствие с Международните одиторски стандарти е да се получи
  разумна, а не абсолютна увереност за верността на финансовия отчет</p>

<p  >5. Съгласно изискванията на Закона за счетоводството (ЗС), чл. 38, ал. 4 ИЗПЪЛНИТЕЛЯТ ще извърши процедури относно годишния
  доклад на ръководството за дейността на ДРУЖЕСТВОТО съгласно чл. 33 от ЗС, в резултат на които ИЗПЪЛНИТЕЛЯТ ще докладва доколко
   историческата финансова информация съответства на финансовия отчет. В резултат на извършените процедури, ИЗПЪЛНИТЕЛЯ ще докладва
   съгласно изискванията на чл. 38, ал. 4 от ЗС, като част от одиторския доклад.</p>

<p  >6. Настоящият договор съдържа всички реквизити и се приравнява на &bdquo;Писмо за поемане на ангажимент&rdquo;, което е документ
  регламентиран в Международните одиторски стандарти.</p>

<p  >За целите на този договор Водещ одитор е
  <b><%= @agreemnt.manager%></b>, вписан в регистъра на Института за дипломирани експерт счетоводители
   в България, наричано по-долу ОДИТОР.</p>

<p  >&nbsp;</p>

<p  >IІ. ЦЕНИ И НАЧИН НА ПЛАЩАНЕ</p>

<p  >Чл. 2. Страните се договориха, че за извършването на услугата по т.1 и т.2 от чл.1 на настоящият договор се определя въз
  основа на длъжността на ангажираните служители и времето, необходимо за изпълнение на ангажимента. Общото възнаграждение по
  договора, определено на тази база, е
  <b><%= @agreemnt.amount%></b> лв.. Плащането се извършва по следния начин:</p>

<p  >1. До 5 дни след датата на подписване на настоящия договор - 50% от договорената цена.</p>

<p  >2. До 31.01.<%= Date.today.strftime("%Y").to_i+1 %> - 30% от договорената цена.</p>

<p  >3. Окончателно разплащане в размер на 20% се извършва в тридневен срок от представяне на Одиторски доклад.
   Възнаграждението е дължимо независимо дали проверката е завършила със заверка без резерви, с резерви или с отказ от
   заверка от страна на ИЗПЪЛНИТЕЛЯ.</p>

<p  >В цената на един работен одиторски час и общото възнаграждение по договора не е включено ДДС. Плащанията по настоящият
  договор се извършват в български лева по курса на БНБ към датата на издадената фактура.</p>

<p  >4. Договореното в т.1, т.2 и т.3 от настоящият член възнаграждение е платимо по
  сметка на &bdquo;ПЕТКОВ И ПАРТНЬОРИ&rdquo; ООД в &bdquo;Юробанк И Еф Джи България&rdquo; АД, клон
  СОФИЯ-НДК,ФЦ&ndash;164,бул.ВИТОША 76, BIC BPBIBGSF, IBAN BG02BPBI79421078434701.</p>

<p  >&nbsp;</p>

<p  >ІІІ. СРОКОВЕ НА ИЗПЪЛНЕНИЕ</p>

<p  >Чл. 3. Срокът на договора започва от датата на подписване на настоящия договор и завършва до 60 дни от датата на
  предоставяне от ВЪЗЛОЖИТЕЛЯ на ИЗПЪЛНИТЕЛЯ на Годишният финансов отчет за годината приключваща на 31.12.<%= Date.today.strftime("%Y") %>  г. за проверка и заверка.</p>

<p  >Чл. 4. Крайният срок за издаване на одиторският доклад, изготвен съгласно чл.1 от настоящия договор, се определя както следва:</p>

<p  >1. До 60 дни от предоставянето от ВЪЗЛОЖИТЕЛЯ на ИЗПЪЛНИТЕЛЯ на одобрения за публикуване от Ръководството
   Годишен финансов отчет, изготвен, съгласно изискванията на Глава Пета от Закона за счетоводството.
   Ако Годишният финансов отчет е предаден по електронен път, за такава се приема датата на получаването му
   в офисната поща на ИЗПЪЛНИТЕЛЯ.</p>

<p  >2. При предоставяне от ВЪЗЛОЖИТЕЛЯ на Годишен финансов отчет с невярно или неточно представено съдържание и това
  се констатира при окончателната проверка от страна на ИЗПЪЛНИТЕЛЯ, се договарят допълнителни часове за одит, извън
   посочените по Глава ІІ, чл.2 от настоящия договор, както и нов срок за издаване на одиторския доклад. Това става
    чрез подписване на Анекс към основният договор.</p>

<p  >Чл. 5. ИЗПЪЛНИТЕЛЯТ ще информира ВЪЗЛОЖИТЕЛЯ незабавно в случай, че необходимата информация за извършване на одита
  не е предоставена, което би могло да доведе до неспазване на договорения в чл. 4 срок, като в този случай ИЗПЪЛНИТЕЛЯ
  запазва правото да поиска отлагане на сроковоте или временно прекратяване на неговата работа по одита и продължаването
  му при представяне на необходимата информация.</p>

<p  >&nbsp;</p>

<p  >ІV. ОТЧИТАНЕ И ПРИЕМАНЕ НА ИЗВЪРШЕНИТЕ РАБОТИ</p>

<p  >Чл. 6.Приемането на работите се извършва съгласно чл.1 и чл.2 от настоящия договор.</p>

<p  >Чл. 7. Всички значителни грешки или пропуски, констатирани от ИЗПЪЛНИТЕЛЯ, ще бъдат отразени
   в одиторския доклад, освен в случай, че финансовите отчети, по които се изразява одиторско мнение, бъдат
   своевременно коригирани от ВЪЗЛОЖИТЕЛЯ.</p>

<p  >&nbsp;</p>

<p  >V. ПРАВА И ЗАДЪЛЖЕНИЯ НА СТРАНИТЕ</p>

<p  >1.ПРАВА И ЗАДЪЛЖЕНИЯ НА ВЪЗЛОЖИТЕЛЯ</p>

<p  >ПРАВА</p>

<p  >Чл. 8. ВЪЗЛОЖИТЕЛЯТ има право да изисква от ИЗПЪЛНИТЕЛЯ или от неговите сътрудници, да извършват добросъвестно и
  професионално възложената работа, съобразно предмета на настоящият договор.</p>

<p  >Чл. 9. ВЪЗЛОЖИТЕЛЯТ има право на информация и сведения относно свършеното от ИЗПЪЛНИТЕЛЯ по договорената услуга
   съгласно План-графика по чл.4 от настоящия договор.</p>

<p  >&nbsp;</p>

<p  >ЗАДЪЛЖЕНИЯ</p>

<p  >Чл. 10. ВЪЗЛОЖИТЕЛЯТ е длъжен да осигури на ИЗПЪЛНИТЕЛЯ условия за извършване на текущи проверки и окончателно
  завършване на одита, включително:</p>

<p  >1. Да осигури нормални условия за работа в отделно работно помещение.</p>

<p  >2. Да осигури пълно съдействие при изпълнение на одита и достъп до всички данни и документи на ДРУЖЕСТВОТО;</p>

<p  >3. Да изготви добросъвестно и във срок исканите от ИЗПЪЛНИТЕЛЯ допълнителни справки и информация, когато
  ИЗПЪЛНИТЕЛЯ прецени, че това е необходимо за извършването на одита;</p>

<p  >4. Да осигури неограничен достъп до всички данни и документи и да осигури възможност за извършване по преценка на
   ИЗПЪЛНИТЕЛЯ проверки, удостоверяващи верността на информацията, необходима за извършване на одита;</p>

<p  >5. Да предостави възможност на ИЗПЪЛНИТЕЛЯ да извърши идентификация на законните представители и на действащите собственици
   на ДРУЖЕСТВОТО съгласно изискванията на приложимите норми за мерките срещу изпирането на пари.</p>

<p  >6. ИЗПЪЛНИТЕЛЯ си запазва правото, при необходимост за обективното изпълнение на поетите ангажименти по чл.1 от настоящия
  договор, да изисква от ВЪЗЛОЖИТЕЛЯ допълнителни справки и съпътстваща документация (напр. фактури, договори и др.).</p>

<p  >Чл. 11. ВЪЗЛОЖИТЕЛЯТ носи отговорност за изготвянето и верността на годишните финансови отчети; съответствието им със
   счетоводното законодателство; за това, че всички сделки и събития са намерили вярно отражение и са оповестени в тях. За
   достоверността на посочената информация ВЪЗЛОЖИТЕЛЯ подписва Представително писмо по Образец, приложен към настоящия договор.
    Без неговото наличие водещият одитор не може да издаде одиторски доклад.</p>

<p  >Чл. 12. ВЪЗЛОЖИТЕЛЯТ носи пълна отговорност и за изготвянето и представянето на данъчните си декларации. Страните
   по този договор потвърждават, че българските данъчни органи имат право да направят свои проверки на всички данъчни
    декларации и първични документи и че одиторският доклад относно финансовият отчет не представлява твърдение, че
    окончателният отчет и данъчната декларациям представени от ДРУЖЕСТВОТО, ще бъдат приети от данъчните органи.</p>

<p  >Чл. 13. Поради важността на изложенията в представителното писмо от ръководството, ВЪЗЛОЖИТЕЛЯ се съгласява да освободи от
   отговорност и да обезщети ИЗПЪЛНИТЕЛЯ и неговите съдружници и служители за всички действия, загуби, претенции, задължения и
    разходи (включително и разумни адвокатски хонорари и други съдебни разноски, както и времето вложено от служителите на ИЗПЪЛНИТЕЛЯ)
     във връзка с извършването на одита, ако горните са възникнали в резултат на невярно представяне от страна на ръководството.</p>

<p  >&nbsp;</p>

<p  >2.ПРАВА И ЗАДЪЛЖЕНИЯ НА ИЗПЪЛНИТЕЛЯ</p>

<p  >ПРАВА</p>

<p  >Чл.14.ИЗПЪЛНИТЕЛЯТ осигурява изпълнението на възложената услуга в съответствие с изискванията на действащото
  законодателство, регламентиращо, независимия финансов одит на годишни финансови отчети.</p>

<p  >Чл.15. ИЗПЪЛНИТЕЛЯТ извършва проверка на годишния финансов отчет, съгласно Закона за независимия финансов одит,
   подзаконовите нормативни актове, Международните одиторски стандарти.</p>

<p  >1. Резултатът от окончателната проверка се предава с писмен доклад, в който ОДИТОРЪТ изразява мнение относно вярното
  и честно представяне на имущественото и финансовото състояние и получения финансов резултат в годишния финансов отчет, в съответствие
  с приложимото законодателство.</p>

<p  >2. При подмяна на подадените справки, отчети, договори и други документи от страна на ВЪЗЛОЖИТЕЛЯ, които водят до
  промени на извършените констатации при междинните и крайната одиторски проверки, се подписва ново споразумение от
  страните по настоящия договор, в което се договарят допълнителен брой одиторски часове.</p>

<p  >Чл.16. ОДИТОРЪТ носи лична отговорност за изразеното от него мнение относно достоверността на финансовия отчет,
   представен му за одит. Той носи и лична отговорност за действията, извършени от неговите сътрудници по време на одита.</p>

<p  >Чл.17. /1/ ИЗПЪЛНИТЕЛЯТ не носи отговорност за предоставените му неистински документи или документи с невярно
  съдържание, както и такива с непълна или неточна информация.</p>

<p  >/2/ ИЗПЪЛНИТЕЛЯТ не носи отговорност в случай на неразкриване на злоупотреби или на други наказуеми деяния,
   тъй като това не е задача на одита.</p>

<p  >/3/ Работните документи по изпълнението на този ангажимент, събрани и създадени от ИЗПЪЛНИТЕЛЯ по време на
  одита, включително електронните файлове и документация, получена като доказателства от ВЪЗЛОЖИТЕЛЯ, остават собственост
   на ИЗПЪЛНИТЕЛЯ и стават неразделна част от одиторското досие на ВЪЗЛОЖИТЕЛЯ.</p>

<p  >&nbsp;</p>

<p  >ЗАДЪЛЖЕНИЯ</p>

<p  >Чл.18. Да уведомява в писмен вид или чрез електронната поща своевременно ВЪЗЛОЖИТЕЛЯ, когато:</p>

<p  >Предоставената му информация е неточна или непълна;</p>

<p  >Съответните документи не са съобразени с изискванията на действащите нормативни актове; са съставени в отклонение
   от тях; са неподходящи за правилното изпълнение на работата.</p>

<p  >1. При констатиране на отклонения, ИЗПЪЛНИТЕЛЯТ може да предлага на ВЪЗЛОЖИТЕЛЯ необходими и ефективни промени,
  съгласно настоящия договор и спазвайки действащото законодателство.</p>

<p  >&nbsp;</p>

<p  >VІ. ИЗИСКВАНИЯ КЪМ СИСТЕМАТА ЗА УПРАВЛЕНИЕ НА КАЧЕСТВОТО</p>

<p  >Чл.19. ИЗПЪЛНИТЕЛЯТ се задължава при изпълнение на поетите ангажименти към ВЪЗЛОЖИТЕЛЯ, да извършва договорените
  с настоящия договор дейности в съответствие с приложимите процедури и работни инструкции от неговата СУК.</p>

<p  >Чл.20. ИЗПЪЛНИТЕЛЯТ се задължава при поискване от страна на ВЪЗЛОЖИТЕЛЯ, ако той има собствена СУК, да изпълни
   задълженията си (там където е приложимо) в съответствие с изискванията на съответните процедури и инструкции.</p>

<p  >&nbsp;</p>

<p  >VІІ. ОБЩИ УСЛОВИЯ</p>

<p  >Чл.21. Страните са длъжни добросъвестно да пазят взаимно интересите си; да не разпространяват сведения, станали им
  известни в хода на изпълнение на настоящия договор, освен с изричното писмено съгласие на някоя от страните.</p>

<p  >Чл.22. ИЗПЪЛНИТЕЛЯ е длъжен, извън случаите по чл.18 от настоящия договор, да предоставя информация без съгласието
  на ВЪЗЛОЖИТЕЛЯ в случаите, когато:</p>

<p  >а/това се изисква по силата на действащото законодателство и непредоставянето на съответната информация представлява закононарушение.</p>

<p  >б/ при необходимост от спазване на професионално-етичните стандарти (Етичен кодекс на професионалните счетоводители) и МОС 240.</p>

<p  >в/ когато според действащото законодателство (МОС 700) ОДИТОРА трябва да посочи в доклада си причините за отказ от
  заверка или заверка с резерви.</p>

<p  >Чл.23. ИЗПЪЛНИТЕЛЯТ декларира, че одиторският доклад е предназначен единствено за лицата, до които е адресиран.
  ИЗПЪЛНИТЕЛЯТ не носи отговорност пред трети страни.</p>

<p  >Чл.24. Ръководството на ВЪЗЛОЖИТЕЛЯ би могло да пожелае да включи или да възпроизведе в друга форма одиторския
  доклад относно годишните финансови отчети или под друга форма да спомене &bdquo;Петков и партньори&rdquo; в документ,
  който съдържа друга информация като допълнение към одитирания финансов отчет (напр. в облигационни или капиталови
  проспекти с предложения, разпращани на клиенти, в документация която трябва да бъде изготвена в съответствие със Закона
  за публичното предлагане на ценни книжа, в друга оферта за предлагане на акциите на ВЪЗЛОЖИТЕЛЯ на фондов пазар или Интернет
   или в каквато и да е частна информация). ВЪЗЛОЖИТЕЛЯ поема ангажимента да не оповестява одиторския доклад, препратки към
   одиторския доклад или информация, свързана с ИЗПЪЛНИТЕЛЯ без предварителното му писмено съгласие.</p>

<p  >1. Включването или препращането към доклада на ИЗПЪЛНИТЕЛЯ би представлявало повторно издаване на одиторски доклад и в
  този случай всяка молба от стана на ВЪЗЛОЖИТЕЛЯ да преиздаде или искането за съгласие да бъде включен доклада или да се
  направят препратки към него в предложение или друг документ ще се приема, че се основава на фактите и условията,
  съществуващи в момента на отправяне на такова запитване и е обект на отделно друго договаряне. Договореното възнаграждение
  в настоящият договор не включва никакви услуги, които би било необходимо да се извършат във връзка с такава молба за
  използването на одиторския доклад, или да се оповестява информация за ИЗПЪЛНИТЕЛЯ. Възнаграждението за такива услуги
  (и техният обхват) ще бъде определено на базата на взаимно договаряне в определения момент и ще бъде описано в отделен договор.</p>

<p  >Чл.25. Дотолкова, доколкото ИЗПЪЛНИТЕЛЯТ използва или си служи със своя собственост (материални или нематериални блага)
   във връзка с предоставянето на договорените услуги, правата на собственост върху тези ценности остават на ИЗПЪЛНИТЕЛЯ.
   ВЪЗЛОЖИТЕЛЯТ ще получи единствено неизключително право на ползване по отношение на всеки продукт или произведение,
   което да упражнява в рамките на своята организация в съответствие с клаузите на настоящия договор и с оглед целите,
   посочени в него. ВЪЗЛОЖИТЕЛЯТ няма право на ползване извън тук уговореното, освен в случаите, в които изключение от
   това е допуснато от ИЗПЪЛНИТЕЛЯ. ИЗПЪЛНИТЕЛЯ запазва правото си на собственост (включително, но не само правата върху
   интелектуална собственост), както и всички права да използва и разкрива своите идеи, концепции, ноу-хау, методологии,
   технологии, процедури и умения във връзка с настоящото при осъществяване на своята търговска дейност. ВЪЗЛОЖИТЕЛЯТ няма
   да предявява или да подпомага предявяването на каквито и да е възбрани или ограничения за това по отношение на ИЗПЪЛНИТЕЛЯ
    или неговите служители.</p>

<p  >Чл.26. Всяка от страните може да развали едностранно договора с писмено предизвестие със срок от 30 дни, отправено до другата страна.</p>

<p  >Чл.27. Всички промени, допълнения и корекции по настоящия договор се извършват само с писмено съгласие на страните.</p>

<p  >Чл.28. При неизпълнение на задълженията по настоящия договор неизправната страна дължи на изправната
   неустойка в размер на 10% от стойността на договорената цена.</p>

<p  >Чл.29. Възникналите спорове по изпълнението на договора ще се решават по споразумение между страните,
   а когато това се окаже невъзможно, по съдебен ред, съгласно действащото законодателство на Република България.</p>

<p  >Възникналите съдебни спорове се отнасят за решаване от компетентния съд по седалището на ИЗПЪЛНИТЕЛЯ.</p>

<p  >Настоящият договор се състави в два еднообразни екземпляра, по един за всяка от страните и влиза в сила от датата на подписването му.</p>

<p  >За неуредените с договора въпроси се прилагат разпоредбите на действащото законодателство
   и професионалната практика на регистрираните одитори.</p>

<p  >&nbsp;</p>

<p  >&nbsp;</p>

<p  >ВЪЗЛОЖИТЕЛ:</p>

<p  >&nbsp;</p>

<p  >ИЗПЪЛНИТЕЛ:&nbsp;</p>
