<h3  >Доклад на Независимия&nbsp;Одитор</h3>

<p  >До: Акционерите/Собствениците на</p>

<p  ><b><%= @agreemnt.client.name%></b></p>

<p  >&nbsp;</p>

<h4  >Доклад върху финансовия отчет</h4>

<p  >&nbsp;</p>

<p  >Ние извършихме одит на приложения финансов отчет на компанията
  <b><%= @agreemnt.client.name%></b>, включващ,
  <b><%= @balance%></b> към
  <b>31.12.<%= Date.today.strftime("%Y").to_i-1 %></b> г., <b><%= @opr%></b>,
  <b><%= @osk%></b>, отчет за паричните потоци за
   годината, завършваща на тази дата, както и обобщеното оповестяване на съществените счетоводни политики и другите
   пояснителни приложения.</p>

<p  >&nbsp;</p>

<p  >Отговорност на ръководството за финансовия отчет</p>

<p  >Отговорността за изготвянето и достоверното представяне на този финансов отчет, в съответствие с
  <b><%= @standards%></b> и националното законодателство, се носи от ръководството.
   Тази отговорност включва:</p>

<p  >разработване, внедряване и поддържане на система за вътрешен контрол, свързана с изготвянето и достоверното представяне
  на финансови отчети, които да не съдържат съществени неточности, отклонения и несъответствия, независимо дали те се дължат
   на измама или на грешка;</p>

<p  >подбор и приложение на подходящи счетоводни политики;</p>

<p  >изготвяне на приблизителни счетоводни оценки, които да са разумни при конкретни обстоятелства.</p>

<p  >&nbsp;</p>

<p  >Отговорност на одитора</p>

<p  >Нашата отговорност се свежда до изразяване на одиторско мнение върху този финансов отчет, основaващо се на извършения
   от нас одит. Нашия одит бе проведен в съответствие с професионалните изисквания на Международните одиторски стандарти.
   Тези стандарти налагат спазване на етичните изисквания, както и одитът да бъде планиран и проведен така, че ние да се у
   бедим в разумна степен на сигурност доколко финансовият отчет не съдържа съществени неточности, отклонения и несъответствия.</p>

<p  >&nbsp;</p>

<p  >Одитът включва изпълнението на процедури с цел получаване на одиторски доказателства относно сумите и оповестяванията,
  представени във финансовия отчет. Избраните процедури зависят от преценката на одитора, включително оценката на рисковете от
  съществени неточности, отклонения и несъответствия във финансовия отчет, независимо дали те се дължат на измама или на грешка.
  При извършването на тези оценки на риска одиторът взема под внимaние системата на вътрешен контрол, свързана с изготвянето и
  достоверното представяне на финансовия отчет от страна на предприятието, за да разработи одиторски процедури, които са подходящи
  при тези обстоятелства, но не с цел изразяване на мнение относно ефективността на системата за вътрешен контрол на Дружеството.
  Одитът също така включва оценка на уместността на прилаганите счетоводни политики и разумността на приблизителните счетоводни оценки,
  направени от ръководството, както и оценки на цялостното представяне на финaнсовия отчет.</p>

<p  >Считаме, че извършения от нас одит предоставя достатъчна и подходяща база за изразеното от нас одиторско мнение .</p>

<p  >&nbsp;</p>

<b><p  >Мнение</p></b>

<p  >В резултат на това, удостоверяваме, че по Наше мнение финансовият отчет представя достоверно, във всички съществени аспекти,
  финансовото състояние на Дружеството <b><%= @agreemnt.client.name%></b> към
  <b>31.12.<%= Date.today.strftime("%Y").to_i-1 %></b> г., както и неговите финансови резултати от дейността и
  паричните потоци за годината, приключваща на тази дата, в съответствие с
  <b><%= @standards%></b></p>

<p  >&nbsp;</p>

<h4  >Доклад върху други правни и регулаторни изисквания &ndash; Годишен доклад за дейността</h4>

<p  >&nbsp;</p>

<p  >Ние прегледахме приложения Годишен доклад за дейността на <b><%= @agreemnt.client.name%></b>, който не е част от финансовия отчет.
  Историческата финансова информация, представена в Годишния доклад за дейността, съставен от ръководството, съответства в
  съществените си аспекти на финансовата информация, която се съдържа във финансовия отчет към
  <b>31.12.<%= Date.today.strftime("%Y").to_i-1 %></b> г., изготвен в  съответствие с <b><%= @standards%></b>.
  Отговорността за изготвянето на Годишния доклад за дейността се носи от ръководството.</p>

<p  >&nbsp;</p>

<p  >&bdquo;Петков и партньори&rdquo; ООД</p>

<p  >&nbsp;</p>

<p  >Управител:</p>

<p  >Регистриран одитор:</p>

<b><%= @agreemnt.manager%></b>

<p  >&nbsp;</p>

<p  >Дата: <b><%= Date.today.strftime("%d-%m-%Y")%></b></p>

<p  >София</p>
