
<p>До <%= @agreemnt.manager%></p>

<p>(дипломиран експерт-счетоводител)</p>

<p>Уважаеми г-н Петков,</p>

<p>Настоящото Представително писмо се предоставя във връзка с одита на
  финансовия отчет на
  <b><%= @agreemnt.client.name%></b> за годината, завършваща на
  31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> година,  както и установяване на
  събитията, настъпили след датата на годишния финансов
  отчет, с цел изразяване на мнение дали финансовият отчет представя достоверно,
   във всички аспекти на същественост, имущественото и финансово състояние на
   Дружеството към 31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b>. година, както и резултатите от неговата дейност
   и паричните му потоци за годината в съответствие с
   <b><%= @standards%></b> .</p>

<p>Ние потвърждаваме своята отговорност за достоверното представяне на финансовия
  отчет в съответствие с <b><%= @standards%></b> .</p>

<p>Ние потвърждаваме, доколкото ни е известно, следните факти и обстоятелства като
  изявления:</p>

<p><strong>Общи условия</strong></p>

<p>Ние, в качеството си на управител и главен счетоводител на
  <b><%= @agreemnt.client.name%></b> поемаме отговорност за достоверното представяне на счетоводните данни и на резултатите
  от стопанската дейност във финансовия отчет на Дружеството, в съответствие с
  общоприетите счетоводни принципи, правила и изисквания, регламентирани в Закона
  за счетоводството, <b><%= @standards%></b> и българското законодателство.</p>

<p>&bull; Ние потвърждаваме, че всички съществени сделки са надлежно осчетоводени
  и са намерили отражение във финансовия отчет към 31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b>  г.
   Във финансовия отчет няма допуснати съществени неточности, отклонения и несъответствия, включително пропуски,
    както и не са допуснати неточности поради измами и/или грешки.</p>

<p>&bull; Не е имало реално или потенциално нарушаване на закони и/или други нормативни разпоредби,
  което би имало съществено влияние върху показателите в отчета, констатации от контролни институции
  относно неспазване или пропуски във финансово-счетоводната дейност.</p>

<p>&bull; Ние разбираме и носим отговорността за установяването и прилагането в
  Дружеството на адекватна система за вътрешен контрол по отношение на предотвратяването
   и установяването на измами и грешки. Предоставили сме ви нашата оценка на риска
   относно това дали финансовите отчети да съдържат съществена грешка в резултат на
   измама. Също така ние сме ви предоставили всички известни факти, които имат отношение
   към измами или предполагаеми измами, умишлени или неумишлени грешки, които може или биха
   могли да са оказали, и/или да окажат влияние върху дейността на Дружеството
   (съответно на финансовия отчет). Не е имало случаи и ситуации на нередности и нарушения,
   в които са участвали ръководители или служители със съществени отговорности по отношение
   на счетоводната система и системата за вътрешен контрол, или които биха могли
   да имат съществено отражение върху финансовия отчет.</p>

<p>&bull; Потвърждаваме, че не е имало обвинения (писмени или устни) от никакви
  страни/лица за допуснати грешки, умишлени или неумишлени, или неправилно
  прилагане на счетоводни принципи при изготвянето на финансовите отчети на Дружеството.</p>

<p>&bull; Потвърждаваме, че не е имало обвинения (писмени или устни) от никакви
  страни/лица за слабости във вътрешния контрол, които могат да окажат съществен
  ефект върху финансовите отчети на Дружеството.</p>

<p>&bull; Дружеството е спазило всички аспекти на договорни условия, които биха
  могли да окажат съществен ефект върху финансовия отчет в случай на неспазване.
  Не е имало случаи на неспазване на изисквания на регулаторни органи, които биха
  могли да окажат съществено влияние върху финансовия отчет, в случай на неспазване.</p>

<p>&bull; Нашето мнение, като ръководство на <b><%= @agreemnt.client.name%></b> е, че системите за
  вътрешен контрол, организирани в Дружеството са достатъчно надеждни за
  стопанисване и опазване на активите му.</p>

<p>&bull; Следната информация е надлежно осчетоводена и в случаите, когато това
  е необходимо, е оповестена във финансовия отчет:</p>

<p>- Оповестяването, идентификацията, салдата по сметките и сделките със свързани лица;</p>

<p>- Загуби и неустойки, възникващи в резултат на договорености с доставчици и клиенти;</p>

<p>- Поети договорености и опции за обратно изкупуване на предварително
  продадени активи, на собствени акции и/или облигации, прехвърляне на права
   върху имоти и дългове;</p>

<p>- Поети договорености за специфични сделки, за компенсиране на насрещни
  задължения и сделки или други подобни;</p>

<p>- Активи, предоставени като обезпечение.</p>

<p><strong>Обхват на предоставената информация</strong></p>

<p>Ние Ви предоставихме всички:</p>

<p>&bull; счетоводни регистри, отчети и документи, сведения и обяснения,
  необходими за изясняване на естеството, причините и факторите на операциите,
   отразени в тях, притежаваните активи и поетите задължения, както и приетите
    ангажименти (в т. ч. условните) на нашето дружество;</p>

<p>&bull; протоколи от заседанията на Общото събрание на акционерите и тези на
   управлението от началото на периода на проверката до датата на настоящото писмо;</p>

<p>Потвърждаваме изчерпателността на информацията относно свързаните лица.</p>

<p><strong>Действащо предприятие</strong></p>

<p>&bull; Ние извършихме оценка на приложимостта на принципа - предположение за
   действащо предприятие, като фундаментален принцип при изготвянето на
   финансовия отчет. Нашата оценка обхваща период от 12 месеца от датата на
   подписване на настоящето писмо. Потвърждаваме, че на базата на тази оценка
   не са налице фактори и/или събития, които да показват съмнения относно
   прилагането на този принцип като база за изготвяне на финансовия отчет.
   Намеренията на ръководството по отношение на бъдещото съществуване на
   Дружеството са то да продължи да изпълнява всички свои дейности. Поради това,
    активите и пасивите на Дружеството са осчетоводени при прилагане на принципа
     на действащо предприятие.</p>

<p>&bull; Потвърждаваме, че нямаме планове или намерения, които да предвиждат
  съществено ограничаване на мащабите на дейността и/или преобразуване в
  прогнозируемо бъдеще в период минимум до една година на Дружеството.</p>

<p><strong>Активи</strong></p>

<p>&bull; Всички активи, включени в отчета за финансовото състояние на
  Дружеството към 31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г. в размер на 14873 х.лв. на тази дата реално
  съществуват и са в наличност. Дружеството има задоволителни права на
  собственост върху всички активи, включени във финансовия отчет.</p>

<p>&bull; Не разполагаме с информация относно съществуването на бъдещи или
  предприети за реализация планове или намерения, които биха променили
  съществено стойностния размер или класификацията на активите, посочени във финансовия отчет.</p>

<p>&bull; Всички активи, включени в счетоводния отчета за финансовото състояние
   към 31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г. са свободни от някакви скрити или потенциални тежести или
   задължения, с изключение на тези, които изрично са оповестени във финансовия отчет.</p>

<p>&bull; Ние потвърждаваме, че дълготрайните активи на Дружеството към
  31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г. не включват неизползвани и/или такива, които са трайно
  обезценени. Поради тази причина считаме, че стойността, по която са
  представени дълготрайните активи в отчета за финансовото състояние към
  31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г. (324 х.лв.) не надвишава тяхната възстановителна стойност.</p>

<p>&bull; При нормално протичане на стопанската дейност на нашето дружество
  считаме, че може да се очаква отразените в отчета за финансовото състояние към
  31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г. активи, да бъдат реализирани (възпроизведени) поне по балансовата
  нетна стойност, по която са включени в отчета.</p>

<p>&bull; Потвърждаваме, че годишните инвентаризации на дълготрайните активи и на
  материалните запаси, както и на всички други активи и пасиви, са извършени съгласно
  изискванията на българското счетоводно законодателство и че всички липси и излишъци са
  намерили отражение в годишния финансов отчет към 31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г.</p>

<p >&bull; Потвърждаваме, че сме извършили преглед на всички търговски вземания,
 вкл. от свързани лица, с цел да преценим тяхната събираемост. На базата на този
 преглед ние считаме, че не са налични индикатори за обезценка на тези вземания.</p>

 <p>&bull; Ние нямаме планове за преустановяване на дейности или други планове,
   които биха довели до излишък или залежаване на материални запаси. Материалните
    запаси са отразени по стойност, ненадвишаваща тяхната нетна реализируема стойност.
    В тази връзка ние потвърждаваме, че сме извършили преглед и анализ на наличните в Дружеството към
    31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г. материални запаси, в частност на стоките, от гледна точка на:</p>

    <p>- залежалост и на годност за продажба. Потвърждаваме, че няма необходимост от
    бракуване или обезценка на материални запаси.</p>

    <p>- тяхната оценка до нетна реализируема стойност.
    Потвърждаваме, че наличните към 31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г. материални запаси не включват такива, за които
    нетната реализируема стойност е по-ниска от тяхната балансова стойност.</p>

<p><strong>Пасиви</strong></p>

<p>&bull; Собственият капитал на Дружеството е в размер на 8018 х.лв.</p>

<p>&bull; Всички реално съществуващи и условни задължения на Дружеството са включени
  или оповестени, в приложенията към финансовия отчет.</p>

<p>&bull; Към датата на годишния финансов отчет не сме назначили актюерска оценка на
  дългосрочните задължения към персонала, тъй като нашата преценка е, че техният размер
  е несъществен за целите на годишния финансов отчет за <b><%= Date.today.strftime("%Y").to_i-1 %></b> г., имайки предвид възрастовата
  структура на персонала, текучеството и характера на дейността както и стратегията ни за
   развитието на Дружеството и респ. спрямо персонала.</p>

<p>&bull; Потвърждаваме, че Дружеството не е подписвало гаранционни споразумения,
  поръчителства и/или други подобни документи, не са авалирани менителници, записи
  на заповед или други дългови документи, по силата на които биха могли да възникнат
   в бъдеще задължения за Дружеството, освен оповестеното в годишния финансов отчет.</p>

<p>&bull; Не разполагаме с информация за наличие на бъдещи или предприети за реализация
   планове или намерения, които биха променили съществено стойностния размер или класификацията
    на пасивите, посочени в отчета за финансовото състояние.</p>

<p>&bull; Потвърждаваме, че Дружеството няма съществени условни вземания или задължения,
  произтичащи от съдебни дела, потенциални искове и други подобни, неоповестени във финансовия отчет към
  31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г.</p>

<p>&bull; Нямаме информация за условно задължение, което да е влязло в сила или да е вероятно да
  влезе в сила през 12-те месеца след 31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г., което по наше мнение би повлияло на способността
   на Дружеството да посрещне своевременно задълженията си.</p>

<p>&bull; Потвърждаваме, че няма други обстоятелства, които са ни известни и които предполагат
  включване на провизия по настоящо правно или конструктивно (стопанско) задължение срещу бъдещи
   плащания, доколкото всички задължения/разходи, отнасящи се за <b><%= Date.today.strftime("%Y").to_i-1 %></b>
    г. са намерили отражение в отчета за  <b><%= Date.today.strftime("%Y").to_i-1 %></b> г.</p>

<p>&bull; Информирали сме ви за всички съществени дела, по които Дружеството е страна и няма неоповестена
  информация със съществено за потребителите значение. Не съществуват и не се очаква да бъдат предявени в
  скоро време други искове, за които не сме Ви информирали и които биха оказали влияние върху показателите
  във финансовия отчет на Дружеството.</p>

<p>&bull; Не съществуват официални или неформални договорености за компенсиране на насрещни задължения с
  наши парични средства или инвестиционни сметки. Освен оповестените, Дружеството няма други договорености
  за ползване на банкови или други заеми, кредитни линии, овърдрафти и др. подобни инструменти.</p>

<p>&bull; Потвърждаваме, че не извършваме дейност извън страната, която би се квалифицирала като място на стопанска
  дейност в съответната страна, приходите от сключваните и изпълнявани от нас сделки не подлежат на облагане с
   данък при източника, не са ни налагани глоби или други имуществени санкции от контролни органи на други държави,
   както и че не са налице други обстоятелства, които по силата на чуждото законодателство да породят допълнителни
    финансови задължения и загуби за Дружеството.</p>

<p><strong>Отчет за доходите</strong></p>

<p>&bull; Формираният и оповестен финансов резултат на Дружеството за периода на проверката, в размер на
   407 х.лв. печалба, не е повлиян от сделки и операции с необичаен за Дружеството характер, от
   обстоятелства от изключително или неповтарящо се естество или промени в счетоводната и финансова политика.</p>

<p>&bull; Потвърждаваме, че всички продажби, извършени през периода, са
  фактурирани и са надлежно осчетоводени в отчета за доходите за
  <b><%= Date.today.strftime("%Y").to_i-1 %></b> г.</p>

<p>&bull; Потвърждаваме, че всички разходи, направени през <b><%= Date.today.strftime("%Y").to_i-1 %></b> г. и касаещи
  годината са намерили отражение в отчета за доходи за
  <b><%= Date.today.strftime("%Y").to_i-1 %></b> г.</p>

<p>&bull; Включеният в отчета за доходи текущ разход за данък е изчислен при
  спазване на изискванията на действащия ЗКПО и всички необходими преобразувания
  са намерили отражение в годишната данъчна декларация;</p>

<p>&bull; Отсрочените данъци са изчислени при спазване на консервативен подход -
  признати са пасиви по отсрочени данъци за всички облагаеми временни разлики, а активите са
  признати до степента, до която очакваме да бъдат приспаднати от бъдещи облагаеми печалби.</p>

<p><strong>Събития, настъпили след датата на финансовите отчети</strong></p>

<p>&bull; Не са настъпили събития след датата на финансовите отчети по отношение на обектите,
   дискутирани в това писмо, които да изискват допълнителни корекции или отделно оповестяване
   в годишния финансов отчет или неговите приложения по смисъла на MСС 10.</p>

<p>&bull; Не са възникнали, в интервала от 31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b>
  г. до датата на това писмо, сделки или събития от
  съществено значение и (или) необичайно естество, които по наше мнение, биха повлияли значимо резултата
  на Дружеството за текущата финансова година.</p>

<p><strong>Сделки със свързани лица</strong><br />&bull; С изключение на сделките, за които вече сме Ви
  информирали, нашето дружество не е участвало в други сделки с дружества посредством свои директори или
  служители (акционери или трети страни), от които директор или служител (акционер или трета страна)
  би бил пряко или непряко заинтересован, например сделки с дружества, икономически свързани с нашето.
  Потвърждаваме пълнотата на информацията относно свързаните лица.</p>

<p>&bull; Всички операции и сделки със свързаните лица са осъществявани при условия,
  аналогични на тези при пазарно независими лица и обичайните търговски взаимоотношения.</p>

<p><strong>Доклад на ръководството за дейността на Дружеството по чл. 33 от Закона за счетоводството</strong></p>

<p>&bull; Ние потвърждаваме своята отговорност за достоверното представяне на дейността на
  Дружеството в доклада на ръководството за дейността му за <b><%= Date.today.strftime("%Y").to_i-1 %></b>
   г. То съответства на същността и  резултатите на направените сделки и операции, на състоянието към 31.12.
   <b><%= Date.today.strftime("%Y").to_i-1 %></b> г. и провежданата
  политика за периода (поне 3 години за сравнение).
  <br />&bull; Ние потвърждаваме и, че съдържанието
  на доклада е изцяло съобразено с изискванията на чл. 33 на Закона за счетоводство и включва всички
  релевантни рубрики. Докладът отразява всички съществени аспекти от състоянието и дейността на
  Дружеството, бизнес и финансовите рискове и тяхното управление, изпълнението на бизнес-програмите и
  стратегията на развитие - така, както сме ги представили и на вас в хода на извършвания от вас одит,
  с всички факти и обстоятелства. Няма информация, включена в доклада, за която преди това да не сме
  ви информирали и/или представили съответните документи, заедно с поисканите необходими обяснения по тях.</p>

  <p>&bull; Също така потвърждаваме, че оповестената и използвана историческа финансова информация в доклада за
    дейността изцяло съответства на информацията във финансовия отчет, който вие одитирате, което съответствие,
    в логически и технически аспект, ние сме проверили преди да ви предоставим доклада за становище по смисъла
    на чл. 38 от Закона за счетоводство.</p>

<p>Въз основа на направените по-горе изявления ние потвърждаваме, че:
  <br />&bull; отчетът за финансовтото състояние представя достоверно, във всички аспекти на
  същественост, дейността и финансовите резултати на Дружеството за
  <b><%= Date.today.strftime("%Y").to_i-1 %></b> г.;
  <br />&bull; отчетът за доходи, заедно с приложенията към него, включват и
  представят достоверно, във всички аспекти на същественост, активите и пасивите на Дружеството към
  31.12.<b><%= Date.today.strftime("%Y").to_i-1 %></b> г.
  <br />&bull; отчетът за паричните потоци и отчетът за измененията в собствения капитал
  са попълнени съгласно изискванията на Закона за счетоводство,
  Международни стандарти за финасови отчети и действащото законодателство и дават
  достоверна картина за движението на паричните потоци в Дружеството и измененията в собствения му капитал.</p>

<p>Управител: ........................................<br />
  /<b><%= @agreemnt.client.manager%></b>/</p>

<p>Дата: <b><%= Date.today.strftime("%d-%m-%Y")%></b></p> г.</p>
