
<h3><%= @agreemnt.date.strftime("%d-%m-%Y")%> г.</h3>
<h3>КОНФИДЕНЦИАЛНО</h3>

<h3><%= @agreemnt.client.manager%>,  Изпълнителен Директор,</h3>
<h3><%= @agreemnt.client.name%>, </h3>
<h3><%= @agreemnt.client.address%></h3>

<h1>Писмо за поемане на Ангажимент</h1>
<br>

<p>Уважаеми Г-н/Г-жо   <%= @agreemnt.client.manager%>,,</p>

<p>Във връзка с проведените наскоро дискусии, Ви изпращам нашето Писмо за поемане на ангажимент
  за извършване на одиторски услуги за периода приключващ на 31.12.<%= Date.today.strftime("%Y").to_i %>
  на <%= @agreemnt.client.name%> ,  със седалище и адрес на управление <%= @agreemnt.client.address%>,
  ИН <%= @agreemnt.client.eik%>, ИН по ЗДДС BG<%= @agreemnt.client.eik%>,
  представлявано от <%= @agreemnt.client.manager%>-  Изпълнителен Директор, наричано по-долу за краткост “Дружеството”.</p>

  <p>С настоящото  писмо потвърждавам условията на нашето споразумение, с цел и двете страни да бъдат запознати със
    своите отговорности и по-конкретно, да се уточни отговорността на Дружеството. Стандартните общи условия на „Петков и Партньори”
    за поемане на ангажимент относно извършване на одит и свързаните с него услуги, които са приложени към настоящото писмо, разглеждат .
    по-подробно отговорностите на двете страни и представляват неразделна част от настоящото писмо за поемане на ангажимент.</p>

    <h3>Обхват на ангажимента и изисквания за докладване</h3>

    <p>На нас ни беше възложено да извършим:</p>

    <ul>
      <li>одит, в съответствие с Международните одиторски стандарти, на индивидуалния финансов отчет на <b><%= @agreemnt.client.name%></b>,
        за годината, приключваща на 31.12.<%= Date.today.strftime("%Y").to_i %>, изготвен в съответствие с
        <b><%= @standards%></b>, изразен в хиляди лева;</li>
        <li>запознаване със съдържанието на доклада за дейността за <%= Date.today.strftime("%Y").to_i%> година и изразяване на мнение за неговото съответствие
          с финансовия отчет към 31.12.<%= Date.today.strftime("%Y").to_i %>г., на български език, изразен в хиляди лева.</li>
        </ul>

        <h3>Доклади и времеви график</h3>

        <p>Резултатът от нашата работа ще бъде:</p>
        <ul>
          <li>одиторски доклад, включващ доклад върху приложения финансов отчет за годината, приключваща на 31.12.<%= Date.today.strftime("%Y").to_i %>,
            изготвен в съответствие с <b><%= @standards%></b>, изразен в хиляди лева и доклад върху други
            законови изисквания относно съответствието на приложения доклад за дейността за <%= Date.today.strftime("%Y").to_i %> г.
            с финансовия отчет към 31.12. <%= Date.today.strftime("%Y").to_i %>г.</li>
          </ul>

          <p>Ние ще договорим времеви график, който ще ни даде възможност да изпълним поставените от Вас крайни срокове.
            Този времеви график ще се базира на предположението, че ще ни бъде оказано необходимото сътрудничество и съдействие от Вас.</p>

            <h3>Цени и условия на плащане</h3>

            <p>Заплащането на предоставените от нас услуги се определя въз основа на длъжността на ангажираните служители и времето,
              необходимо за изпълнение на ангажимента.  Възнаграждението за описаните по-горе услуги е <b><%= @agreemnt.amount%></b>
              лв. То е определено на база
              на предположението, че ще ни бъде оказано необходимото сътрудничество от страна на Вашите служители при изготвянето на
              необходимите справки и относно други възникнали въпроси.</p>

              <p>Това възнаграждение ще бъде валидно за период от една година. След предаването на всеки годишен отчет ние,
                заедно с ръководството на Дружеството, ще разгледаме необходимостта от евентуална промяна в обхвата на нашия
                ангажимент за следващата година в резултат на промени в размера и дейността на Дружеството (напр. обем на продажбите,
                обем на производството и т.н.). Този преглед ще бъде извършен с цел преразглеждане на нашето възнаграждение и определяне
                на размера му за следващата година.</p>

                <p>Нашето възнаграждение Не включва предоставянето на допълнителни услуги, които могат да бъдат:</p>


                  <li>методическа помощ по годишното счетоводно приключване;</li>
                  <li>методическа помощ при изготвянето на годишна данъчна декларация;</li>
                  <li>методическа помощ при изготвянето на финансовия отчет за годината,
                    приключваща на 31.12.<%= Date.today.strftime("%Y").to_i %>г., както и допълнителна информация към него.</li>


                  <br>

                  <p>Посоченото по-горе възнаграждение не включва:</p>

                  <ul>
                    <li>дължимите ДДС, данъци при източника или други данъци, които ще бъдат прибавени
                      към фактурираната сума по приложимите ставки;</li>
                      <li>преки разходи, възникнали по време на изпълнение на ангажимента, включващи пътни разходи,
                        разходи за хотел и дневни пари, куриерски такси и т.н.;</li>
                        <li>всички услуги предоставени допълнително, освен изброените по-горе,
                          или допълнителна работа или обхват на ангажимента, при условие, че тези услуги са предварително
                          одобрени от одиторския комитет на Дружеството или на неговата компания-майка, ако е приложимо,
                          и, че тези услуги не са в конфликт с одиторския ангажимент.</li>
                  </ul>

                        <p>В допълнение определянето на възнаграждението се основава на предположението, че:</p>
                        <ul>
                          <li>Дружеството има приета и последователно прилага адекватна счетоводна политика, както и няма значителни
                            слабости във вътрешно-контролните си системи, с които не сме били предварително запознати;</li>
                          </ul>

                          <p>Ние не очакваме определеното възнаграждение да бъде превишено, освен ако не възникнат
                            значими непредвидени обстоятелства, за които ще Ви уведомим незабавно.  Няма да Ви бъдат фактурирани допълнителни суми,
                            без това да бъде обсъдено предварително с Вас. В допълнение, ако нашето реално време за изпълнение на ангажимента е
                            по-малко от предвиденото при приемането на ангажимента, ние съответно, ще намалим нашето възнаграждение.</p>

                            <p>Условията на плащане за предоставените от нас услуги са както следва:</p>


                              <li> при подписване на писмо за поемане на ангажимент			50% </li>
                              <li> До 31.01.<%= Date.today.strftime("%Y").to_i+1 %> г.  30% </li>
                              <li> при приключване на финалния одит					            20% </li>


                            <p>След извършване на всяко плащане ще Ви бъде издадена фактура за авансово плащане. При издаване на заключителния одиторски
                              доклад ще Ви бъде издадена окончателна фактура за извършените одиторски услуги.</p>

                              <p>Регистрираният одитор, отговорен за одита от името на „Петков и Партньори ” ООД, ще бъде
                                <b><%= @agreemnt.manager%></b>, ДЕС .</p>

                              <p>Изготвянето на финансовия отчет в съответствие с приложимата рамка за финансово отчитане, включително и неговото
                                достоверно представяне, както и вътрешния контрол, какъвто ръководството е определило за необходим, за да се изготви
                                финансов отчет,който не съдържа съществени отклонения, независимо дали се дължат на грешка или измама са отговорности на
                                ръководството на дружеството.</p>

                                <p>В случай, че която и да било част от настоящото писмо бъде приета за недействителна, невалидна или по друг начин неприложима,
                                  изцяло или частично, останалата част от настоящото писмо запазва действието си.</p>

                                  <p>Настоящото Писмо за поемане на ангажимент представлява обвързващ договор между страните по него в съответствие
                                    с чл. 9 от Закона за независимия финансов одит. В случай, че условията на Писмото за поемане на ангажимент и са
                                    приемливи за Вас, моля, подпишете настоящото писмо и ни върнете едно копие от него.</p>

                                    <p>Изключително високо оценяваме възможността да бъдем независими одитори на Дружеството и за нас ще
                                      бъде удоволствие да Ви предоставим каквато и да било допълнителна информация, която може да поискате по
                                      отношение на отговорностите и функциите ни. Вярваме, че нашето сътрудничество ще бъде продължително и взаимно изгодно.</p>

                                      <p>С уважение,</p>

                                      <p>Валери Петков</p>
                                      <p>Управител</p>
                                      <p>„Петков и Партньори ” ООД</p>

                                      <hr>
                                      <p>Потвърждаваме нашето съгласие с горепосоченото писмо.</p>

                                      <p>За и от името на</p>
                                      <p><b><%= @agreemnt.client.name%></b></p>

                                      <section>
                                        <p><b><%= @agreemnt.client.manager%></b> – Изпълнителен Директор</p>
                                      </section>
