%h1 Списък с Въпросници

%table{:class => "table table-striped table-hover ",:id => "surveys"}
  %thead
    %tr{:class => "warning"}
      %th Име
      %th Компания
      %th Секция
      %th
      %th
      %th

  %tbody
    - @surveys.each do |survey|
      %tr
        %td= survey.name
        %td= survey.company_id
        %td= survey.section
        %td= link_to 'Покажи', survey,class: 'btn btn-warning btn-xs'
        %td= link_to 'Редакция', edit_survey_path(survey),class: 'btn btn-warning btn-xs'
        %td= link_to 'Изтрий', survey, :method => :delete, :data => { :confirm => 'Ще изтриеш ли въпросника и свързаните с него въпроси и форми?' },class: 'btn btn-danger btn-xs'

%br

= link_to 'Нов Въпросник', new_survey_path,class: 'btn btn-warning btn-xs'
