= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |msg|
          %li= msg

  <div class="field" >
  = f.text_field :date, 'data-behaviour' => 'datepicker', placeholder: "Дата на Плащането"
  </div>
  <script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker({
  weekStart: 1,
  autoclose: true,
  format:'yyyy-mm-dd' ,
  todayHighlight: true
  });
  </script>

  .field
    = collection_select(:payment,:agreemnt_id, Agreemnt.all.where(closed:[false]),:id,:name,{},{:multiple => false})
    Договор
  .field
    = f.text_field :amount
    Платена Сума
  .field
    = f.text_field :text
    Текст
  .actions
    = f.submit 'Запиши',class: 'btn btn-primary btn-xs'
